@model Student

<h1>Student info</h1>

<div>
    <p><strong>Id:</strong> @Model.Id</p>
    <p><strong>First name:</strong> @Model.FirstName</p>
    <p><strong>Last name:</strong> @Model.LastName</p>
    <p><strong>Birth date:</strong>@Model.BirthDate</p>
    <p><strong>Age:</strong>@Model.Age</p>
    <p><strong>Email:</strong>@Model.Email</p>
    @if (!string.IsNullOrWhiteSpace(@Model.ProfileImageUrl))
        {
            <img src="@Model.ProfileImageUrl" alt="Profile image" style="max-width: 200px;" />
        }
    @if (!string.IsNullOrWhiteSpace(@Model.PhoneNumber))
        {
            <p><strong>Phone number:</strong> @Model.PhoneNumber</p>
        }
    <p><strong>Parent full name:</strong>@Model.ParentFullName</p>
    <p><strong>Parent contact:</strong>@Model.ParentContact</p>
</div>